@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-[90%] max-w-6xl min-h-screen mx-auto py-20 flex flex-col justify-center items-center gap-8;
  }
  .fullContainer {
    @apply w-full min-h-screen mx-auto py-20 flex flex-col justify-center items-center gap-8;
  }
  .button1 {
    @apply capitalize py-3 px-5 border-2 border-white text-white hover:text-gray-900 transition-all duration-75 relative before:content-[''] before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-white before:-z-10 before:scale-x-0 hover:before:scale-x-105 before:duration-100 before:origin-left overflow-hidden text-base;
  }
  .button2 {
    @apply capitalize py-3 px-5 border-2 border-gray-950 text-gray-950 hover:text-white transition-all duration-75 relative before:content-[''] before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-gray-950 before:-z-10 before:scale-x-0 hover:before:scale-x-105 before:duration-100 before:origin-left overflow-hidden text-base;
  }
  .bannerSlide {
    @apply w-full px-3 py-5 min-h-[90vh] grid place-items-center relative before:content-[''] before:absolute before:w-full before:h-full before:top-0 before:left-0 before:bg-gray-900/70 before:mix-blend-multiply;
  }
  .heading1 {
    @apply text-3xl md:text-5xl font-bold text-gray-900 font-headingFont;
  }
}

body {
  font-family: "Poppins", sans-serif;
}
/* 
    font-family: 'Bebas Neue', sans-serif;

    font-family: 'Poppins', sans-serif;

*/
